.card {
    max-width: 450px;
}

.lead {
    border: 2px dashed limegreen;
    border-radius: 0.25rem;
}

.not-correct {
    color: orangered !important;
}

.correct {
    color: limegreen !important;
}

.black {
    color: #000;
}