<div class="card shadow-sm">
    <div class="card-body">
        <p class="lead">{{title}}</p>
        <div class="form-group mb-3">
            <label for="">enter length</label>
            <input type="number" class="form-control" (input)=" onChangeLength($any($event.target).value)"
                placeholder="Enter Length">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" (change)="onChangeUseLetters()" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">use letter</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" (change)="onChangeUseNumbers()" id="exampleCheck2">
            <label class="form-check-label" for="exampleCheck2">use numbers</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" (change)="onChangeUseSymbols()" id="exampleCheck3">
            <label class="form-check-label" (change)="onChangeUseSymbols()" for="exampleCheck3">use symbols</label>
        </div>
        <button class="btn btn-primary my-3"
            [disabled]="!(passwordlength && (includeLetters || includeNumbers || includeSymbols))"
            (click)="onButtonClick()">generate!</button>

        <div class="form-group" *ngIf="password">
            <label for="">your password</label>
            <input class="form-control" [value]="password">
        </div>
    </div>
</div>